<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Twitter Of Babel</title>
	<style>
		@font-face {
			/* Provided by Google, https://fonts.google.com/specimen/Merriweather#standard-styles */
			font-family: 'Merriweather';
			src: url('/assets/Merriweather-Regular.ttf');
			font-weight: normal;
			font-style: normal;
		}

		@keyframes hex {
			from { background-size: 20px }
			to { background-size: 200px; }
		}

		* {
			font-family: 'Merriweather';
		}

		p {
			font-size: 1.5em;
		}

		a, a:visited {
			color: #0a0aa0;
			text-decoration: none;
		}

		a:hover {
			color: blue;
		}

		body {
			background: url('profile.jpg');
			background-position: center;
			background-size: 10px;
			animation-name: hex;
			animation-duration: 160s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
		}

		.content {
			margin: 0 10%;
		}

		.header {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: #ccccccab;
			border: 1px solid #ccccccab;
			border-radius: 8px;
		}

		.header h1 {
			font-family: 'Merriweather';
			font-size: 10em;
		}

		.header p {
			margin-top: 0;
			margin-bottom: 24px;
			margin-left: 10%;
			margin-right: 10%;
			font-size: 2em;
		}

		.time-to-tweet {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0 20%;
			background-color: #cccccc;
			padding: 16px;
			border-radius: 16px;
		}

		.time-to-tweet h2 {
			font-size: 4em;
		}
	</style>
</head>
<body>
	<div class="header">
		<h1>The Twitter of Babel</h1>
		<p>The entire library of Tweets available for your reading pleasure. Roam the database, but be warned: <a href="https://twitter.com/TwitOfBabel">there is much folly and little wisdom in its corridors</a>.</p>
	</div>
	<div class="content">
		<h2>How do I browse the library?</h2>
		<p>Simply tweet "@TwitOfBabel" any sequence of alphanumeric characters. Your tweet will act as an address into the library, and the librarian will respond to your tweet with the corresponding tweet it discovered.</p>
		<h2>How does it work?</h2>
		<p>Every tweet is stripped of all non-alphanumeric characters, leaving a base-36 integer made up of the alphanumeric characters of the tweet. This integer is used to seed an internal random number generator (RNG.) Assuming the underlying RNG provides a unique 160-character tweet for each individual integer, every tweet from <a href="https://twitter.com/TwitOfBabel">@TwitOfBabel</a> responding to a valid address will be entirely unique.</p>
		<p><a href="https://github.com/cincospenguinos/TwitterOfBabel">The source code is also available for your perusal</a>.</p>
	</div>
	<div class="time-to-tweet">
		<% address = (0..5).map { ('a'..'z').to_a[rand(26)] }.join %>
		<h2>Ready to explore?</h2>
		<p>Simply <a href="http://twitter.com/intent/tweet?text=What secrets lay in store for me at the address 0x<%= address %>, @TwitOfBabel?">write your tweet</a>
			and let the librarian lead you.
		</p>
	</div>
</body>
</html>